@charset "UTF8";


@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300&display=swap');

:root{
    --fonte-titulo:rowdies;
    --cor0:#F2C48D;
    --cor1:#F2B749;
    --cor2:#BF7534;
    --cor3:#731702;
}
*{
    margin: 0px;
    padding: 0px;
}
nav{
    background-color: var(--cor0);
    text-align: center;
    padding: 20px;
}

nav > a{
    font-size: 20px;
    font-weight: bold;
    padding: 5px 40px 5px 40px;
    text-decoration: none;
    color: var(--cor3);
    border-radius: 5px;
    transition-duration: 1s;
}

nav > a:hover{

    background-color: var(--cor2);
}
h1{
    background-color:var(--cor0);
    font-family: rowdies;
    text-align: center;
    font-size: 2em;
}

h2.racoes-cachorro{
    
    background-image: linear-gradient(to right, var(--cor0), transparent);
    margin-top: 20px;
    padding-left: 20px;
    
    
   
}

body{
    background-color: #D4E8FB;
}

main{
background-color: white;
padding-top: 10px;
min-width:300px ;
max-width: 1000px;
height: 2000px;
margin: auto;
box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.281);;
}

div.racao{
    display: inline-block;
    

    margin-top: 20px;
    
    
    min-width: 50px;
    max-width:200px;
    height: auto;
    margin-right: 20px;
    margin-left: 20px;
}

div.racao > img{
    padding-top: 10px;
    padding-left: 30px;
    height: 200px;
}
div.racao > p.precos{

display: none;
font-size: 1.1em;
}
div.racao:hover > p.precos{
    display: block;
}
p.nome-racao{
    text-align: center;
    font-size: 1.5em;
    padding-bottom: 15px;
}